<h3>予約内容を確認してください</h3>

<%= form_for @reservation do |f| %>
    <%= f.hidden_field :room_id, value: @room.id %>
    <%= f.hidden_field :user_id, value: @current_user.id %>
    <%= f.hidden_field :start %>
    <%= f.hidden_field :end %>
    <%= f.hidden_field : %>
    <p><%= @room.title %></p>
<% end%>


// = simple_form_for @user do |f|
//   = f.input :first_name, as: :hidden
//   = f.input :last_name, as: :hidden
//   = f.input :email, as: :hidden
//   = f.submit "送信", class: "btn btn-primary"
//   = f.submit "戻る", name: :back, class: "btn btn-secondary"