<!DOCTYPE html>
<html>
  <head>
    <title>StayApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <div class="header-line">
      <div class="header-logo">
        <%= link_to("A fascinating journey","/top") %>
      </div>
      
      <div class="nav">
        <% if @current_user %>
           <% if @user_image.image_name == "#{@user_image.id}.jpg" %>
          <img src="<%= "/user_images/#{@user_image.image_name}" %>" class="user-image">
           <% else %>
          <img src="/user_images/default-user.jpg" class="user-image">
           <% end %>
            <%= link_to("<#{@current_user.name}>", "/users/#{@current_user.id}") %>
          <ul class="nav-list">
            <li><%= link_to("ログアウト","/logout",{method: :post}) %></li>
            <li><%= link_to("ルーム登録","/rooms/new") %></li>
            <li><%= link_to("予約ルーム確認","reservations/index") %></li>
          </ul>
        <% else %> 
          <%= link_to("ログイン","/login") %>
          <%= link_to("新規登録", "/users/new") %>
        <% end %>
      </div> 
    </div>
    </header>
    
    <%= yield %>
    
  </body>
</html>
